.search {
    width: 100%;
    margin-top: 70px;
    &-inner {
        max-width: 1000px;
        width: 100%;
        margin: 0 auto;
        padding: 40px 30px;
        font-family: "Noto Sans JP", Arial, sans-serif;
        text-align: center;
        &-title {
            text-align: left;
            margin-bottom: 30px;
            h2 {
            }
        }
        .form-item {
            &-title {
                text-align: left;
                margin-bottom: 20px;
            }
            .search-title-form {
                text-align: left;
                margin-bottom: 50px;
                .search-input {
                    max-width: 800px;
                    width: 100%;
                    padding: 10px 20px;
                    margin: 0 auto;
                    border: 1px solid #111;
                }
            }
            .search-age-form {
                max-width: 900px;
                width: 100%;
                text-align: left;
                .pull-down {
                    padding: 5px;
                    border: 1px solid #111;
                }
                .search-btn {
                    padding: 5px 15px;
                }
            }
            .search-category-form {
                max-width: 900px;
                width: 100%;
                text-align: left;
                .pull-down {
                    padding: 5px;
                    border: 1px solid #111;
                }
                .search-btn {
                    padding: 5px 15px;
                }
            }
            .search-btn {
                color: #fff;
                padding: 10px 30px;
                background-color: #222;
                border-radius: 5px;
            }
        }
        .flex {
            display: inline-block;
            margin: 0 150px;
        }
    }
}
